<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World of Fortnight, Video submission</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>Acme</span> Web Design</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>World of Fortnight, Video submission</h3>
        <ul>
          <li><i class="fa fa-road"></i> 44 Something st</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@acme.test</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        {{msg}}
        <form method="POST" action="send" enctype="multipart/form-data">
          <p>
            <label>Name</label>
            <input type="text" name="name" placeholder="Your in-game name">
          </p>
          <p>
            <label>E-Mail</label>
            <input type="email" name="email" placeholder="OPTIONAL: Needed for us to contact you if you win the lucky draw">
          </p>
          <p>
            <label>Type of Play</label>
            <input type="text" name="ytchannel">
          </p>
          <p>
            <label>Time Stamp</label>
            <input type="text" name="timestamp" placeholder="When the play takes place (Ex. 8 min 40 sec)">
          </p>
          <p>
            <label>Replay File</label>
            <input type="file" name="filetosend">
          </p>
          <p class="full">
            <label>Short Description</label>
            <textarea name="message" rows="5" placeholder="Describe your play and what we should be looking for"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>